{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert {{ class | default('') }} alert-{{ label }}">
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label></br>
        <input type="text" id="username" name="_username" value="{{ last_username }}"></br>
        <label for="password">Password:</label></br>
        <input type="password" id="password" name="_password"></br>
        <a href="{{ path('app_forgot_password')}}">Forgot Password?</a></br>
        <button type="submit">login</button>
    </form>
{% endblock %}