{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Phone Number</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.team ? user.team.name : 'No Team' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

