{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <h1 class="text-primary">Admin Panel</h1>

    <div class="mb-3">
        <a href="{{ path('add_admin') }}" class="btn btn-success">Add Admin</a>
        <a href="{{ path('delete_admin_form') }}" class="btn btn-danger">Delete Admin</a>
        <a href="{{ path('invite_user') }}" class="btn btn-primary">Invite User</a>
        <a href="{{ path('create_team') }}" class="btn btn-primary">Create Team</a>
         <a href="{{ path('show_teams') }}" class="btn btn-info">Show Teams</a>

    </div>

    <h2 class="text-primary">List of Admins</h2>

    {% if admin_users is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for admin_user in admin_users %}
                    <tr>
                        <td>{{ admin_user.fullName }}</td>
                        <td>{{ admin_user.email }}</td>
                        <td>{{ admin_user.role }}</td>
                        <td>{{ admin_user.phoneNumber }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No admin users found.</p>
    {% endif %}
{% endblock %}
